:root {
    --bg-color-accent: #05386B;
    --bg-color-accent-light: #019bf9;
    --bg-color-dark: #328675;
    --bg-color: #379683;
    --main-color: #5CDB95;
    --second-color: #8EE4AF;
    --yellow: #EDF5E1;
    --white: #fafafa;
    --grey: #37373e;
    --black: #252527;
}
