/* Buttons */

button {
    box-shadow: none;
    border-radius: 3px;
    border: 2px solid var(--bg-color-accent-light);
    background-color: var(--white);
    color: var(--bg-color-accent-light);
    padding: 10px;
    transition: ease 0.3s;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    border-radius: 3px;
    border: 2px solid var(--grey);
    background: var(--main-color);
    color: var(--grey);
}
